<section id="page-contact">

  <h3>Contact</h3>

  <section id="primary">
    <img src="img/PlanescapeTorment_E.jpg" alt="Company Logo"/>
  </section>

  <section id="secondary">
    <p>Please use the following contact details:</p>
    <ul class="contact-info">
      <li class="phone"><a href="tel:555-6425">555-6425</a></li>
      <li class="mail"><a href="mailto:blademotors@example.com">blademotors@example.com</a></li>
      <li class="twitter"><a href="http://twitter.com/intent/tweet?screen_name=blademotors">@blademotors</a></li>
    </ul>
  </section>

</section>