
/********************************************************
GLOBAL
*********************************************************/

body {
  color: #8e8e8e;
  font-family: 'Libre Baskerville', serif;
}

h1,
h2,
h3 {
  font-family: 'Merriweather Sans', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #004499;
  text-decoration: none;
}

label {
  cursor: pointer;
}

#main-wrapper {
  max-width: 1024px;
  margin: 2em auto 0;
  padding: 0 5%;
}



/********************************************************
HEADER
*********************************************************/

header {
  text-align: center;
  background-color: #afe8ef;
  padding-top: 0.1em;
}

header h1 {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 0;
}

header h2 {
  font-size: 0.75em;
  font-weight: normal;
  margin-top: 0;
}



/********************************************************
NAVIGATION
*********************************************************/

nav ul {
  background-color: #004499;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

nav a {
  color: #fff;
  display: inline-block;
  padding: 5px 5px 5px;
  margin: 0 -3px;
  width: 80px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

nav a:hover {
  color: #004499;
  background-color: #afe8ef;
}

nav a.selected {
  color: #004499;
  background-color: #afe8ef;
}



/********************************************************
FOOTER
*********************************************************/

footer {
  text-align: center;
  color: #ddd;
  font-size: 0.75em;
  padding-top: 50px;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 3px;
}



/********************************************************
PAGE: SALE
*********************************************************/

#page-sale button {
  width: 100%;
  color: #fff;
  background-color: #004092;
  border: none;
  padding: 10px 0;
  margin: 2px 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#page-sale button:hover,
#page-sale button.selected {
  color: #004499;
  background-color: #afe8ef;
}

#page-sale ul {
  padding: 0;
}

#page-sale li {
  background-color: #eee;
  padding: 5px;
  margin: 10px 0;
}

#page-sale main-list p,
#page-sale main-list img {
  display: inline-block;
}

#page-sale main-list p {
  float: left;
  margin: 0;
  width: 285px;
}

main-form form {
  margin: 20px 0 0;
}

main-form div {
  width: 100%;
  margin: 20px 0;
}

main-form label {
  display: inline-block;
  width: 10%;
  margin-right: 1em;
}

main-form input {
  width: 80%;
  float: right;
  border: 1px solid black;
}

main-form fieldset {
  margin: 0;
}

#page-sale main-form button[type="submit"] {
  background-color: #255470;
}

#page-sale main-form button[type="submit"]:hover {
  color: #255470;
  background-color: lightcyan;
}

#page-sale main-form fieldset label {
  width: 60%;
}

#page-sale main-form fieldset input {
  display: inline-block;
  width: 5%;
  float: left;
  margin: 3px 10px 0 0;
}

.ng-invalid.ng-dirty {
  border-color: red;
}

.ng-valid.ng-dirty {
  border-color: green;
}



/********************************************************
PAGE: CONTACT
*********************************************************/

#primary {
  text-align: center;
  margin: 50px 0;
}

#primary img {
  border-radius: 100%;
}

.contact-info {
  font-size: 0.9em;
  padding: 0;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url("../img/phone.png");
}

.contact-info li.mail a {
  background-image: url("../img/mail.png");
}

.contact-info li.twitter a {
  background-image: url("../img/twitter.png");
}