<section id="page-sale">

  <section>

    <h3>Sale</h3>

    <p>Here you can sell whatever you want, from pins and matches to submarines and nuclear warheads:</p>

    <button ng-click="showForm = !showForm" ng-class="{ selected : showForm }">Add your ware</button>
    <button ng-click="showList = !showList" ng-class="{ selected : showList }">Shopping</button>

  </section>

  <main-form ng-show="showForm" list="shoppingListLocal" id="page-sale-form"></main-form>

  <main-list ng-show="showList" list="shoppingListLocal" gravatar-url="gravatarUrl" id="page-sale-list"></main-list>

</section>